/*
* Personal Website
* Created by : Negin Soleimani
* website : www.negasol.ir
*/

/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - Services section -
    - Work section -
    - Blog section -
    - Contact section -
    - Responsive media queries -
*/

/* Google fonts & font family
==================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*
fontfamily: "Poppins", sans-serif;
*/

/* General
==================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color themes and variables*/

:root {
  --darkBlueMagenta: #1f1d2b;
  --darkBlue: #252836;
  --darkGray: #576361;
  --mediumGray: #aaaaaa;
  --lightBlueMagenta: #e3e3e5;
  --mediumBrown: #ddac58;
  --white: #ffffff;

  --fontFamily: "Poppins", sans-serif;
}

body {
  background-color: var(--darkBlueMagenta);
  font-family: var(--fontFamily);
}

a:link {
  color: var(--lightBlueMagenta);
  text-decoration: none;
}

a:visited {
  color: var(--lightBlueMagenta);
}
a:hover {
  color: var(--mediumBrown);
}

/* Navbar
==================================================*/

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  color: var(--white);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--darkGray);
  border-radius: 50%;
  color: var(--white);
}

.navbarDesktop ul {
  padding: 15px;
}

.navbarDesktop li {
  display: inline;
  padding: 15px;
  list-style: none;
  cursor: pointer;
}

.navbarDesktop li:hover {
  transition: 0.5s ease;
  color: var(--mediumBrown);
}

.navbarMobile {
  display: none;
}

@media screen and (max-width: 758px) {
  .navbarDesktop {
    display: none;
  }
  .navbar {
    padding: 6px;
  }

  .navbarMobile {
    display: block;
    padding: 6px;
    font-size: 1.8rem;
  }
}

/* Main
==================================================*/

.main {
  display: grid;
  grid-template-columns: 1.5fr repeat(2, 1fr);
  padding: 50px 30px;
}

.aboutMe {
  padding: 15px;
}

.aboutMe h1 {
  color: var(--white);
  font-size: 3.5rem;
}

.aboutMe h4 {
  color: var(--mediumGray);
  font-size: 1rem;
  font-weight: 100;
}

.aboutMe a {
  color: var(--mediumBrown);
  font-weight: 100;
  cursor: pointer;
}

.aboutMe div {
  margin-bottom: 20px;
}

.myImg img {
  width: 90%;
}

.experienceBox {
  background-color: var(--darkBlue);
  height: 60%;
}

.experienceBox div {
  padding-top: 20px;
  margin-left: 20px;
  width: 30%;
}

.experienceBox h3 {
  color: var(--lightBlueMagenta);
  font-size: 1.5rem;
}

.experienceBox h4 {
  font-size: 0.9rem;
  font-weight: 100;
  color: var(--mediumGray);
}

.services {
  width: 50%;
  padding: 20px 0 20px 0;
}

.services h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--lightBlueMagenta);
}

.services h4 {
  font-size: 1rem;
  font-weight: 100;
  color: var(--mediumGray);
}

@media screen and (max-width: 758px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr 1fr;
    padding: 6px;
  }

  .aboutMe h1 {
    color: var(--white);
    font-size: 1.6rem;
  }

  .aboutMe h4 {
    font-size: 0.9rem;
  }

  .aboutMe a {
    color: var(--mediumBrown);
    font-weight: 100;
  }

  .myImg img {
    width: 100%;
  }

  .services {
    padding: 40px 0;
    margin: 6px 0;
    width: 100%;
    border: 5px solid var(--darkBlue);
  }

  .services h3 {
    margin-left: 20px;
    font-size: 1.2rem;
  }
  .services h4 {
    padding-left: 20px;
    width: 100%;
  }
}

/* Company
==================================================*/
.company {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
  padding-left: 30px;
}

.company div {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  color: var(--darkBlue);
  font-size: 2rem;
}

.company div i {
  color: var(--darkBlue);
  font-size: 3rem;
  padding-right: 10px;
}

@media screen and (max-width: 758px) {
  .company {
    margin-top: 5px;
    padding: 0 6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-bottom: 5px solid var(--darkBlue);
  }

  .company div {
    height: 100px;
    justify-content: flex-start;
    color: var(--darkBlue);
    font-size: 1rem;
    margin: 6px;
  }

  .company div i {
    color: var(--darkBlue);
    font-size: 3rem;
    padding-right: 10px;
  }
}

/* Services
==================================================*/

.myProject {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.myProjectBox-container {
  background-color: var(--darkBlue);
  padding-bottom: 3rem;
}

.myProjectCard {
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ProjectCard-img img {
  width: 45%;
  width: 100px;
  height: 100px;
}

.ProjectCard-title {
  width: 50%;
}

.ProjectCard-title h3 {
  color: #e3e3e5;
  font-size: 2rem;
  padding-bottom: 5px;
}

.ProjectCard-title h4 {
  color: var(--mediumGray);
  font-size: 1rem;
  font-weight: 100;
}

.ProjecCard-more {
  width: 5%;
}

.ProjecCard-more i {
  font-size: 1.5rem;
  color: #e3e3e5;
  cursor: pointer;
}

.ProjecCard-more i:hover {
  transition: 0.5s ease;
  color: var(--mediumBrown);
}

.myProjectText {
  padding-left: 30px;
}
.myProjectText h1 {
  padding-left: 15px;
  color: var(--white);
  font-size: 3.5rem;
}

.myProjectText h4 {
  padding-left: 15px;
  margin-top: 1%;

  color: var(--mediumGray);
  font-size: 1rem;
  width: 80%;
  font-weight: 100;
}

.myProjectText-box {
  margin: 1rem 0;
}

.myProjectText-box h1 {
  padding-left: 15px;
  font-size: 2.5rem;
  color: var(--mediumBrown);
}

.myProjectText-box h4 {
  padding-left: 15px;
  font-size: 1rem;
  color: var(--mediumGray);
}

@media screen and (max-width: 758px) {
  .myProject {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .myProjectBox-container {
    background-color: var(--darkBlue);
    padding-bottom: 2rem;
  }

  .myProjectCard {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .ProjectCard-img img {
    width: 45%;
    width: 80px;
    height: 80px;
  }

  .ProjectCard-title {
    width: 45%;
  }

  .ProjectCard-title h3 {
    color: var(--lightBlueMagenta);
    font-size: 1rem;
    padding-bottom: 5px;
  }

  .ProjectCard-title h4 {
    color: var(--mediumGray);
    font-size: 0.8rem;
    font-weight: 100;
  }

  .ProjecCard-more {
    width: 10%;
  }

  .ProjecCard-more i {
    font-size: 1.5rem;
    color: var(--lightBlueMagenta);
    cursor: pointer;
  }

  .myProjectText {
    padding: 6px;
  }

  .myProjectText h4 {
    width: 90%;
  }

  .myProjectText-box {
    margin: 2rem 0;
  }
}

/* Work
==================================================*/

.latestWork-container {
  margin-top: 8%;
  padding-left: 30px;
  padding-right: 30px;
}

.latestWork-container h1 {
  padding-left: 15px;
  margin-bottom: 2%;
  color: var(--white);
  font-size: 2.5rem;
}

.latestWorkbox-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 15px;
  padding-right: 15px;
  grid-gap: 1rem;
}

.latestWorkbox img {
  width: 100%;
}

.latestWorkbox-seemore {
  margin-top: 2%;
  display: flex;
}

.latestWorkbox img:hover {
  transition: 0.5s ease;
  opacity: 0.5;
  cursor: pointer;
}

.latestworkbox-title {
  display: flex;
  justify-content: space-between;
}

.latestworkbox-title h3 {
  font-weight: 100;
  font-size: 0.9rem;
  color: var(--mediumGray);
  margin-bottom: 4%;
}

@media screen and (max-width: 758px) {
  .latestWork-container {
    margin-top: 8%;
    padding-left: 6px;
    padding-right: 6px;
  }

  .latestWork-container h1 {
    margin-bottom: 4%;
    font-family: var(--fontfamily);
    color: var(--white);
    font-size: 1.8rem;
  }

  .latestWorkbox-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
  }

  .latestWorkbox img {
    width: 100%;
    padding: 0;
  }
}

/* Social medias
==================================================*/

.socialMedias-container {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  border-top: 3px solid var(--darkBlue);
  margin-top: 5%;
  color: var(--darkBlue);
  text-align: center;
}

.socialMedias-container div {
  color: var(--darkBlue);
  font-size: 1.5rem;
  padding: 2%;
}
.socialMedias-container i {
  cursor: pointer;
}

.socialMedias-container i:hover {
  color: var(--mediumGray);
  transition: 0.5s ease;
}

@media screen and (max-width: 758px) {
  .socialMedias-container {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .socialMedias-container div {
    padding: 3.5%;
  }

  .socialMedias-container div i {
    color: var(--darkBlue);
    margin-bottom: 3%;
    font-size: 1.3rem;
  }
}
