/*
* Personal Website
* Created by : Negin Soleimani
* website : www.negasol.ir
*/

/* Table of Content
==================================================
	- Google fonts & font family -
	- typography -
	- General -
    - Preloader -
	- Header -
    - Services section -
    - Work section -
    - Blog section -
    - Contact section -
    - Responsive media queries -
*/

/* Google fonts & font family
==================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*
fontfamily: "Poppins", sans-serif;
*/

/* General
==================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color themes and variables*/

:root {
  --darkBlueMagenta: #1f1d2b;
  --darkBlue: #252836;
  --darkGray: #576361;
  --mediumGray: #aaaaaa;
  --lightBlueMagenta: #e3e3e5;
  --mediumBrown: #ddac58;
  --white: #ffffff;

  --fontFamily: "Poppins", sans-serif;
}

body {
  background-color: var(--darkBlueMagenta);
  font-family: var(--fontFamily);
}

/* Navbar
==================================================*/

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  color: var(--white);
  font-family: var(--fontfamily);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--darkGray);
  border-radius: 50%;
  color: var(--white);
}

.navbarDesktop ul {
  padding: 15px;
}

.navbarDesktop li {
  display: inline;
  padding: 15px;
  list-style: none;
  cursor: pointer;
}

.navbarDesktop li:hover {
  color: var(--mediumBrown);
}

.navbarMobile {
  display: none;
}

@media screen and (max-width: 758px) {
  .navbarDesktop {
    display: none;
  }
  .navbar {
    padding: 6px;
  }

  .navbarMobile {
    display: block;
    padding: 6px;
    font-size: 1.8rem;
  }
}
